[submodule "third-party/sentencepiece"]
	path = third-party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third-party/re2"]
	path = third-party/re2
	url = https://github.com/google/re2.git
[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/pcre2"]
	path = third-party/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
