[submodule "backends/arm/third-party/ethos-u-core-driver"]
	path = backends/arm/third-party/ethos-u-core-driver
	url = https://review.mlplatform.org/ml/ethos-u/ethos-u-core-driver
[submodule "backends/arm/third-party/serialization_lib"]
	path = backends/arm/third-party/serialization_lib
	url = https://review.mlplatform.org/tosa/serialization_lib
[submodule "backends/vulkan/third-party/Vulkan-Headers"]
	path = backends/vulkan/third-party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "backends/vulkan/third-party/VulkanMemoryAllocator"]
	path = backends/vulkan/third-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "backends/vulkan/third-party/volk"]
	path = backends/vulkan/third-party/volk
	url = https://github.com/zeux/volk
[submodule "backends/xnnpack/third-party/FP16"]
	path = backends/xnnpack/third-party/FP16
	url = https://github.com/Maratyszcza/FP16.git
[submodule "backends/xnnpack/third-party/FXdiv"]
	path = backends/xnnpack/third-party/FXdiv
	url = https://github.com/Maratyszcza/FXdiv.git
[submodule "backends/xnnpack/third-party/XNNPACK"]
	path = backends/xnnpack/third-party/XNNPACK
	url = https://github.com/google/XNNPACK.git
[submodule "backends/xnnpack/third-party/cpuinfo"]
	path = backends/xnnpack/third-party/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "backends/xnnpack/third-party/pthreadpool"]
	path = backends/xnnpack/third-party/pthreadpool
	url = https://github.com/Maratyszcza/pthreadpool.git
[submodule "examples/third-party/fbjni"]
	path = examples/third-party/fbjni
	url = https://github.com/facebookincubator/fbjni.git
[submodule "extension/llm/third-party/abseil-cpp"]
	path = extension/llm/third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "extension/llm/third-party/re2"]
	path = extension/llm/third-party/re2
	url = https://github.com/google/re2.git
[submodule "extension/llm/third-party/sentencepiece"]
	path = extension/llm/third-party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "kernels/optimized/third-party/eigen"]
	path = kernels/optimized/third-party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third-party/flatbuffers"]
	path = third-party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third-party/flatcc"]
	path = third-party/flatcc
	url = https://github.com/dvidelabs/flatcc.git
[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/ios-cmake"]
	path = third-party/ios-cmake
	url = https://github.com/leetal/ios-cmake
[submodule "backends/cadence/hifi/third-party/nnlib/nnlib-hifi4"]
	path = backends/cadence/hifi/third-party/nnlib/nnlib-hifi4
	url = https://github.com/foss-xtensa/nnlib-hifi4.git
[submodule "third-party/prelude"]
	path = third-party/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
