.hypothesis
buck-out/
cmake-out/
cmake-android-out/
cmake-ios-out/
executorch.egg-info
__pycache__/
build/lib/
exir/_serialize/scalar_type.fbs
exir/_serialize/program.fbs
sdk/bundled_program/serialize/bundled_program_schema.fbs
sdk/bundled_program/serialize/scalar_type.fbs
build_release
build_android
build_x86*

# Any exported models and profiling outputs
*.pte
*.bin
.gitignore

# Editor temporaries
*.swa
*.swb
*.swc
*.swd
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*~
.~lock.*
