[submodule "third-party/sentencepiece"]
	path = third-party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
