.hypothesis
buck-out/
buck2-bin/
cmake-out*
.DS_Store
cmake-android-out/
cmake-out-android/
cmake-ios-out/
ethos-u-scratch/
executorch.egg-info
pip-out/
__pycache__/

# Any exported models and profiling outputs
*.pte
*.model
!test_tiktoken_tokenizer.model
*.bin
!test_bpe_tokenizer.bin

# Editor temporaries
*.swa
*.swb
*.swc
*.swd
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*~
.~lock.*
*.idea
