# IMPORTANT:
# This file is ONLY used to subscribe for notifications for PRs
# related to a specific file path. Approvals from people in this
# file are not required for merges.

/backends/apple @shoumikhin
/backends/arm @digantdesai
/backends/cadence @JakeStevens
/backends/cortex_m @rascani
/backends/example @JacobSzwejbka @larryliu0820
/backends/mediatek @neuropilot-captain
/backends/qualcomm @haowhsu-quic @shewu-quic @winskuo-quic @psiddh @harshs-qti @qti-horodnic @qti-mmadhava
/backends/test @digantdesai
/backends/transforms @digantdesai
/backends/vulkan @SS-JIA
/backends/xnnpack @JakeStevens
/backends/nxp @robert-kalmar @JakeStevens

/devtools @Gasoonjia

/docs @mergennachin

/examples/apple @shoumikhin
/examples/apple/coreml @metascroy @cymbalrush @YifanShenSZ
/examples/arm @digantdesai
/examples/cadence @JakeStevens
/examples/demo-apps @shoumikhin @kirklandsign
/examples/devtools @Gasoonjia
/examples/llm_manual @larryliu0820
/examples/llm_pte_finetuning @JacobSzwejbka
/examples/mediatek @psiddh
/examples/models @JacobSzwejbka
/examples/portable @JakeStevens @larryliu0820
/examples/qualcomm @abhinaykukkadapu @psiddh
/examples/selective_build @larryliu0820 @JacobSzwejbka
/examples/xnnpack @JakeStevens @digantdesai
/examples/nxp @robert-kalmar

/exir/backend @JacobSzwejbka @digantdesai
/exir @JacobSzwejbka @larryliu0820

/extension/android @kirklandsign @psiddh
/extension/android_test @kirklandsign @psiddh
/extension/apple @shoumikhin
/extension/aten_util @JacobSzwejbka
/extension/benchmark @Gasoonjia
/extension/data_loader @JacobSzwejbka
/extension/evalue_util @Gasoonjia
/extension/export_util @digantdesai
/extension/flat_tensor @JacobSzwejbka
/extension/gguf_util @larryliu0820
/extension/kernel_util @JakeStevens
/extension/llm @larryliu0820 @mergennachin
/extension/memory_allocator @JacobSzwejbka
/extension/module @shoumikhin
/extension/parallel @digantdesai
/extension/pybindings @JacobSzwejbka @larryliu0820
/extension/pytree @JacobSzwejbka
/extension/runner_util @shoumikhin
/extension/tensor @shoumikhin
/extension/testing_util @JacobSzwejbka
/extension/threadpool @digantdesai
/extension/training @JacobSzwejbka

/kernels @JakeStevens

/profiler @Gasoonjia

/runtime @JacobSzwejbka
/runtime/backend @JacobSzwejbka @digantdesai

/schema @JacobSzwejbka

/scripts @digantdesai

/shim @larryliu0820

/third-party @larryliu0820

/test @larryliu0820 @kirklandsign

/util @Gasoonjia

# Build System -----------------------------------------------------------------

CMakeLists.txt @larryliu0820 @kirklandsign
CMakePresets.json @larryliu0820 @kirklandsign

/codegen @larryliu0820
/tools/cmake @larryliu0820 @kirklandsign

# Tribal knowledge base ---------------------------------------------------------
/.wiki/ @mergennachin
/.claude/skills/ @abhinaykukkadapu @psiddh
