# IMPORTANT:
# This file is ONLY used to subscribe for notifications for PRs
# related to a specific file path. Approvals from people in this
# file are not required for merges.

/backends/apple @shoumikhin @metascroy
/backends/arm @digantdesai @rascani
/backends/cadence @mcremon-meta @rascani
/backends/cortex_m @rascani
/backends/example @JacobSzwejbka @larryliu0820
/backends/mediatek @neuropilot-captain @psiddh
/backends/qualcomm @haowhsu-quic @shewu-quic @winskuo-quic @psiddh @harshs-qti @qti-horodnic @qti-mmadhava
/backends/test
/backends/vulkan @SS-JIA
/backends/xnnpack @digantdesai
/backends/nxp @robert-kalmar

/devtools @Gasoonjia

/docs @mergennachin @AlannaBurke

/examples/apple @shoumikhin
/examples/apple/coreml @metascroy @cymbalrush @YifanShenSZ
/examples/arm @digantdesai @rascani
/examples/cadence @mcremon-meta @rascani
/examples/demo-apps @shoumikhin @kirklandsign @psiddh
/examples/devtools @Gasoonjia
/examples/llm_manual @larryliu0820
/examples/llm_pte_finetuning @JacobSzwejbka
/examples/mediatek
/examples/portable @larryliu0820
/examples/qualcomm @psiddh
/examples/selective_build @larryliu0820 @JacobSzwejbka
/examples/xnnpack @digantdesai
/examples/nxp @robert-kalmar

/exir/backend @JacobSzwejbka
/exir @JacobSzwejbka @larryliu0820

/extension/android @kirklandsign @psiddh
/extension/android_test @kirklandsign @psiddh
/extension/apple @shoumikhin
/extension/aten_util @JacobSzwejbka
/extension/benchmark @Gasoonjia
/extension/data_loader @JacobSzwejbka
/extension/gguf_util @larryliu0820 @metascroy
/extension/llm @larryliu0820 @mergennachin
/extension/memory_allocator @JacobSzwejbka
/extension/module @shoumikhin
/extension/pybindings @JacobSzwejbka @larryliu0820
/extension/pytree @JacobSzwejbka
/extension/runner_util
/extension/tensor @shoumikhin
/extension/testing_util
/extension/threadpool @digantdesai @JakeStevens
/extension/training @JacobSzwejbka

/profiler @Gasoonjia

/runtime @JacobSzwejbka
/runtime/backend

/schema @JacobSzwejbka

/shim @larryliu0820

/test @larryliu0820 @kirklandsign

/util @Gasoonjia

# Build System -----------------------------------------------------------------

CMakeLists.txt @larryliu0820 @kirklandsign
CMakePresets.json @larryliu0820 @kirklandsign

/codegen @larryliu0820 @JacobSzwejbka
/tools/cmake @larryliu0820 @kirklandsign

# Tribal knowledge base ---------------------------------------------------------
/.claude/skills/ @psiddh @rascani @JakeStevens
