# Pip packages needed to build from source. Mainly for development of ExecuTorch.

cmake>=3.29, <4.0.0  # For building binary targets in the wheel.
packaging>=24.2 # Lower bound required by setuptools
pip>=23  # For building the pip package.
pyyaml  # Imported by the kernel codegen tools.
setuptools>=77.0.3  # For building the pip package contents.
wheel  # For building the pip package archive.
zstd  # Imported by resolve_buck.py.
certifi  # Imported by resolve_buck.py.
lintrunner==0.12.7
lintrunner-adapters==0.12.6
