# Pip packages needed to build from source. Mainly for development of ExecuTorch.

# Build specific requirements are in pyproject.toml's build-system.requires already
# and invoked during pip install .

lintrunner==0.12.7
lintrunner-adapters==0.12.4
