# pip packages needed to run examples.
# TODO: Make each example publish its own requirements.txt
datasets == 3.6.0 # 4.0.0 deprecates trust_remote_code and load scripts. For now pin to 3.6.0
scikit-learn == 1.7.1 # Used by example scripts such as OpenVINO accuracy checks and Qualcomm MobileBERT fine-tuning
timm == 1.0.7
torchsr == 1.0.4
torchtune @ git+https://github.com/pytorch/torchtune.git@6f2aa7254458145f99d7004cbd6ebc8e53a06404
transformers == 5.0.0rc1
