<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldPrewarmAsset</key>
	<true/>
	<key>shouldPrewarmModel</key>
	<true/>
	<key>maxAssetsSizeInBytes</key>
	<integer>1073741824</integer>
</dict>
</plist>
