# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
#
# Copyright 2024 Arm Limited and/or its affiliates.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Inherited by all other targets. When a key already exists, the elements of the
# target's value are appended to lists here.
[target_base]
excludes = [
  "^third-party",
]

# ---------------------------------- core start ----------------------------------

[targets.executorch]
buck_targets = [
  "//runtime/executor:program",
]
deps = [
  "executorch_core",
]
filters = [
  ".cpp$",
]


[targets.executorch_core]
buck_targets = [
  "//runtime/executor:program_no_prim_ops",
]
deps = [
  "program_schema",
]
filters = [
  ".cpp$",
]


[targets.portable_kernels]
buck_targets = [
  # //kernels/portable:operators would be more appropriate, but buck2 doesn't
  # think it has any "inputs" since its srcs list is empty.
  "//kernels/portable:generated_lib",
]
filters = [
  ".cpp$",
]
excludes = [
  # Exclude the codegen templates, which are picked up because the buck target
  # is the generated_lib and not the unwrapped set of kernels.
  "^codegen/templates",
]
deps = [
  "executorch",
  "executorch_core",
]

# HACK: prevent reduce_util from also showing up in custom_ops. The
# actual medium-term fix is to stop using Buck to drive our CMake
# builds.
[targets.reduce_util]
buck_targets = [
  "//kernels/portable/cpu/util:reduce_util",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
]

[targets.optimized_kernels]
buck_targets = [
  "//kernels/optimized:generated_lib",
]
filters = [
  ".cpp$",
]
excludes = [
  # Exclude the codegen templates, which are picked up because the buck target
  # is the generated_lib and not the unwrapped set of kernels.
  "^codegen/templates",
]
deps = [
  "executorch",
  "executorch_core",
  "extension_threadpool",
  "optimized_cpublas",
  "portable_kernels",
]

[targets.quantized_kernels]
buck_targets = [
  "//kernels/quantized:generated_lib",
]
filters = [
  ".cpp$",
]
excludes = [
  # Exclude the codegen templates, which are picked up because the buck target
  # is the generated_lib and not the unwrapped set of kernels.
  "^codegen/templates",
]
deps = [
  "executorch",
  "executorch_core",
  "portable_kernels",
]

[targets.program_schema]
buck_targets = [
  "//schema:program",
]
filters = [
  ".fbs$",
]

[targets.optimized_cpublas]
buck_targets = [
  "//kernels/optimized:libblas",
]
filters = [
  ".cpp$",
]
excludes = [
]
deps = [
  "executorch_core",
  "executorch",
  "extension_threadpool",
]

[targets.optimized_native_cpu_ops]
buck_targets = [
  "//configurations:optimized_native_cpu_ops",
]
filters = [
  ".cpp$",
]
excludes = [
]
deps = [
  "executorch_core",
  "executorch",
  "extension_threadpool",
  "optimized_cpublas",
  "portable_kernels",
]

[targets.test_backend_compiler_lib]
buck_targets = [
  "//runtime/executor/test:test_backend_compiler_lib",
]
filters = [
  ".cpp$",
]
excludes = [
]
deps = [
  "executorch",
  "executorch_core",
]
# ---------------------------------- core end ----------------------------------
# ---------------------------------- extension start ----------------------------------
[targets.extension_data_loader]
buck_targets = [
  "//extension/data_loader:buffer_data_loader",
  "//extension/data_loader:file_data_loader",
  "//extension/data_loader:mmap_data_loader",
  "//extension/data_loader:shared_ptr_data_loader",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch_core",
  "executorch",
]

[targets.extension_flat_tensor_schema]
buck_targets = [
  "//extension/flat_tensor/serialize:generated_headers",
]
filters = [
  ".fbs$",
]

[targets.extension_flat_tensor]
buck_targets = [
  "//extension/flat_tensor:flat_tensor_data_map",
]
filters = [
  ".cpp$",
]
deps = [
  "extension_flat_tensor_schema",
  "executorch_core",
  "executorch",
]

[targets.extension_module]
buck_targets = [
  "//extension/module:module",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
  "extension_data_loader",
]

[targets.extension_runner_util]
buck_targets = [
  "//extension/runner_util:inputs",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
]

[targets.extension_llm_runner]
buck_targets = [
  "//extension/llm/runner:runner_lib",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
  "extension_module",
  "extension_runner_util",
]

[targets.extension_tensor]
buck_targets = [
  "//extension/tensor:tensor",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
]

[targets.extension_threadpool]
buck_targets = [
  "//extension/threadpool:threadpool",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
]

[targets.extension_training]
buck_targets = [
  "//extension/training/module:training_module",
  "//extension/training/optimizer:sgd",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch_core",
]

[targets.train_xor]
buck_targets = [
  "//extension/training/examples/XOR:train_xor",
]
filters = [
  ".cpp$",
]
excludes = [
  "^codegen",
]
deps = [
  "executorch",
  "executorch_core",
  "portable_kernels",
]
# ---------------------------------- extension end ----------------------------------
# ---------------------------------- binary start ----------------------------------

[targets.executor_runner]
buck_targets = [
  "//examples/portable/executor_runner:executor_runner",
]
filters = [
  ".cpp$",
]
excludes = [
  "^codegen",
]
deps = [
  "executorch",
  "executorch_core",
  "portable_kernels",
  "quantized_kernels",
  "etdump_flatcc",
]

[targets.size_test]
buck_targets = [
  "//test:size_test",
]
filters = [
  ".cpp$",
]
excludes = [
  "^codegen",
]
deps = [
  "executorch_core",
  "executorch",
]
# ---------------------------------- binary end ----------------------------------
# ---------------------------------- MPS start ----------------------------------
[targets.mps_executor_runner]
buck_targets = [
  "//examples/apple/mps/executor_runner:mps_executor_runner",
]
filters = [
  "(.mm|.cpp)$",
]
excludes = [
  "^codegen",
]
deps = [
  "executorch",
  "executorch_core",
  "portable_kernels",
]

[targets.mps_backend]
buck_targets = [
  "//backends/apple/mps:mps",
]
filters = [
  "(.mm|.cpp)$",
]
deps = [
  "executorch",
  "executorch_core",
]

[targets.mps_schema]
buck_targets = [
  "//backends/apple/mps:mps_schema",
]
filters = [
  ".fbs$",
]

# ---------------------------------- MPS end ----------------------------------
# ---------------------------------- XNNPACK start ----------------------------------

[targets.xnn_executor_runner]
buck_targets = [
  "//examples/xnnpack:xnn_executor_runner",
]
filters = [
  ".cpp$",
]
excludes = [
  "^codegen",
]
deps = [
  "executorch",
  "executorch_core",
  "extension_threadpool",
  "xnnpack_backend",
  "portable_kernels",
  "etdump_flatcc",
]

[targets.xnnpack_backend]
buck_targets = [
  "//backends/xnnpack:xnnpack_backend",
]
filters = [
  ".cpp$",
]
deps = [
  "executorch",
  "executorch_core",
  "extension_threadpool",
]

[targets.xnnpack_schema]
buck_targets = [
  "//backends/xnnpack/serialization:xnnpack_flatbuffer_header",
]
filters = [
  ".fbs$",
]
# ---------------------------------- XNNPACK end ----------------------------------
# ---------------------------------- Vulkan start ---------------------------------
[targets.vulkan_schema]
buck_targets = [
  "//backends/vulkan/serialization:vk_delegate_schema",
]
filters = [
  ".fbs$",
]
# ---------------------------------- Vulkan end -----------------------------------
# ---------------------------------- LLama start ----------------------------------
[targets.custom_ops]
buck_targets = [
  "//extension/llm/custom_ops:custom_ops",
]
filters = [
  ".cpp$",
]
excludes = [
  "^codegen",
]
deps = [
  "executorch",
  "executorch_core",
  "optimized_cpublas",
  "optimized_kernels",
  "extension_threadpool",
  "reduce_util",
  "xnnpack_backend",
]

[targets.llama_runner]
buck_targets = [
  "//examples/models/llama/runner:runner",
]
filters = [
  ".cpp$",
]
excludes = [
  "^codegen",
]
deps = [
  "custom_ops",
  "executorch",
  "executorch_core",
  "extension_data_loader",
  "extension_module",
  "extension_threadpool",
  "optimized_cpublas",
  "portable_kernels",
  "quantized_kernels",
  "xnnpack_backend",
  "optimized_native_cpu_ops",
]
# ---------------------------------- LLama end ----------------------------------
# ---------------------------------- devtools start ----------------------------------
[targets.etdump_flatcc]
buck_targets = [
  "//devtools/etdump:etdump_flatcc",
]
filters = [
  ".cpp$",
]
# ---------------------------------- devtools end ----------------------------------
