<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.executorchdemo">

    <uses-sdk android:minSdkVersion="19"
          android:targetSdkVersion="34"
          android:maxSdkVersion="40" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExecuTorchDemo"
        android:extractNativeLibs="true"
        tools:targetApi="34">

        <uses-native-library android:name="libexecutorchdemo.so"
            android:required="false"/>

        <uses-native-library android:name="libcdsprpc.so"
            android:required="false"/>

        <uses-native-library android:name="libQnnHtp.so"
            android:required="false"/>

        <uses-native-library android:name="libQnnHtpV69Skel.so"
            android:required="false"/>

        <uses-native-library android:name="libQnnHtpV69Stub.so"
            android:required="false"/>

        <uses-native-library android:name="libQnnSystem.so"
            android:required="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExecuTorchDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassificationActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExecuTorchDemo">
        </activity>

    </application>

</manifest>
