ET_PLATFORM[sdk=iphonesimulator*] = simulator
ET_PLATFORM[sdk=iphoneos*] = ios
ET_PLATFORM[sdk=macos*] = macos

OTHER_LDFLAGS = $(inherited) \
    -force_load $(BUILT_PRODUCTS_DIR)/libexecutorch_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libbackend_coreml_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libbackend_mps_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libbackend_xnnpack_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libkernels_llm_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libkernels_optimized_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libkernels_quantized_debug_$(ET_PLATFORM).a \
    @$(TEMP_DIR)/cmake/linker_flags

// LLaMARunner requires additional dependencies built with CMake in a custom run script phase.
// Include headers and libraries from $(TEMP_DIR)/cmake for it.
HEADER_SEARCH_PATHS = $(inherited) \
    $(SRCROOT)/../../../../.. \
    $(TEMP_DIR)/cmake/include \
    $(SRCROOT)/../../../../extension/llm/tokenizers/include \
    $(SRCROOT)/../../../../extension/llm/tokenizers/third-party/sentencepiece \
    $(SRCROOT)/../../../../extension/llm/tokenizers/third-party/sentencepiece/src

LIBRARY_SEARCH_PATHS = $(inherited) \
    $(TEMP_DIR)/cmake/lib
