COMMON_LDFLAGS = $(inherited) \
-lc++

OTHER_LDFLAGS[sdk=iphonesimulator*] = $(COMMON_LDFLAGS) \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_coreml-simulator-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_mps-simulator-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_xnnpack-simulator-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_custom-simulator-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_optimized-simulator-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_quantized-simulator-release.a

OTHER_LDFLAGS[sdk=iphoneos*] = $(COMMON_LDFLAGS) \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_coreml-ios-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_mps-ios-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_xnnpack-ios-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_custom-ios-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_optimized-ios-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_quantized-ios-release.a

OTHER_LDFLAGS[sdk=macos*] = $(COMMON_LDFLAGS) \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_coreml-macos-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_mps-macos-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libbackend_xnnpack-macos-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_custom-macos-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_optimized-macos-release.a \
-force_load $(BUILT_PRODUCTS_DIR)/libkernels_quantized-macos-release.a
