ET_PLATFORM[sdk=iphonesimulator*] = simulator
ET_PLATFORM[sdk=iphoneos*] = ios
ET_PLATFORM[sdk=macos*] = macos

// Link the Debug version of ExecuTorch runtime to keep the logs.
// Switch to Release for better performance if logs are not needed.
OTHER_LDFLAGS = $(inherited) \
    -force_load $(BUILT_PRODUCTS_DIR)/libexecutorch_debug_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libbackend_coreml_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libbackend_mps_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libbackend_xnnpack_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libkernels_llm_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libkernels_optimized_$(ET_PLATFORM).a \
    -force_load $(BUILT_PRODUCTS_DIR)/libkernels_quantized_$(ET_PLATFORM).a \
    @$(TEMP_DIR)/cmake/linker_flags

// LLaMARunner requires additional dependencies built with CMake in a custom run script phase.
// Include headers and libraries from $(TEMP_DIR)/cmake for it.
HEADER_SEARCH_PATHS = $(inherited) \
    $(SRCROOT)/../../../../.. \
    $(TEMP_DIR)/cmake/include \
    $(SRCROOT)/../../../../extension/llm/tokenizers/include \
    $(SRCROOT)/../../../../extension/llm/tokenizers/third-party/sentencepiece \
    $(SRCROOT)/../../../../extension/llm/tokenizers/third-party/sentencepiece/src

LIBRARY_SEARCH_PATHS = $(inherited) \
    $(TEMP_DIR)/cmake/lib
