mpmath==1.3.0
numpy>=2.0.0; python_version >= '3.10'
PyYAML==6.0.1
ruamel.yaml==0.18.15
sympy==1.12
timm==0.6.13
tomli==2.0.1
torchsr==1.0.4
transformers==4.56.1
zstd==1.5.5.1
pandas>=2.2.2; python_version >= '3.10'
pytest==7.2.0
pytest-cov==4.1.0
expecttest==0.1.6
hypothesis==6.84.2
parameterized==0.9.0

# Doc build requirements, same as https://github.com/pytorch/pytorch/blob/main/.ci/docker/requirements-docs.txt
sphinx==7.2.6
sphinxcontrib.katex==0.9.10
breathe==4.36.0  # only if generating C++
exhale==0.3.7  # only if generating C++ docs
docutils==0.18.1,<0.21
sphinx-design==0.6.1
sphinxcontrib-mermaid==1.0.0
myst-parser==3.0.1  # if want to contribute in markdown
sphinx-gallery==0.14.0  # only if hosting interactive tutorials
sphinx-sitemap==2.7.1
sphinx-reredirects==0.1.4
matplotlib>=3.9.4
sphinx-copybutton==0.5.2
# PyTorch Theme
pytorch_sphinx_theme2==0.2.0
# script unit test requirements
yaspin==3.1.0
