mpmath==1.3.0
numpy==1.25.2
PyYAML==6.0.1
ruamel.yaml==0.17.32
sympy==1.12
timm==0.6.13
tomli==2.0.1
torchsr==1.0.4
transformers==4.36.0
zstd==1.5.5.1
pytest==7.2.0
pytest-cov==4.1.0
expecttest==0.1.6
hypothesis==6.84.2
parameterized==0.9.0

# Doc build requirements
sphinx==4.5.0
sphinx-gallery
breathe==4.35.0
exhale==0.3.6
docutils==0.16
matplotlib
# PyTorch Theme
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
myst-parser
sphinx_design
sphinx-copybutton
