[run]
branch = True
source = backends/qualcomm/genai_pipeline

omit =
    */__init__.py
    */tests/*
    */__pycache__/*
    pipeline_types.py

[report]
show_missing = True

omit =
    */__init__.py
    */tests/*
    */__pycache__/*
    pipeline_types.py
