name: Run all unittests

on:
  workflow_call:
    inputs:
      docker-image:
        required: true
        type: string
        description: Name of the docker image to use.
      runner:
        required: false
        type: string
        default: 'linux.2xlarge'
        description: The default runner for PyTorch infra.
      python-version:
        required: false
        type: string
        default: '3.10'

jobs:
  unittest:
    name: unittest
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@increase-max_user_watches
    with:
      runner: ${{ inputs.runner }}
      docker-image: ${{ inputs.docker-image }}
      submodules: 'recursive'
      ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
      timeout: 60
      script: |
        set -eux

        # The generic Linux job chooses to use base env, not the one setup by the image
        CONDA_ENV=$(conda env list --json | jq -r ".envs | .[-1]")
        conda activate "${CONDA_ENV}"

        # Just need to install executorch, everything else has been setup
        pip install .
        # Run pytest with coverage
        pytest --cov=./ --cov-report=xml
        # Run gtest
        buck2 test runtime/core/... runtime/platform/...
