name: Apple

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    paths:
      - .ci/docker/**
      - .github/workflows/app-build.yml
      - install_requirements.sh
      - backends/apple/**
      - build/build_apple_frameworks.sh
      - build/create_frameworks.sh
      - build/test_ios_ci.sh
      - examples/demo-apps/**
      - extension/apple/**
      - extension/module/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}-${{ github.event_name == 'schedule' }}
  cancel-in-progress: true

jobs:
  test-demo-ios:
    name: test-demo-ios
    uses: pytorch/test-infra/.github/workflows/macos_job.yml@main
    with:
      runner: macos-latest-xlarge
      python-version: '3.11'
      submodules: 'true'
      ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
      timeout: 90
      script: |
        WORKSPACE=$(pwd)
        pushd "${WORKSPACE}/pytorch/executorch"
        BUILD_TOOL=cmake

        .ci/scripts/setup-conda.sh

        # Setup MacOS dependencies as there is no Docker support on MacOS atm
        GITHUB_RUNNER=1 PYTHON_EXECUTABLE=python ${CONDA_RUN} --no-capture-output \
        .ci/scripts/setup-macos.sh "${BUILD_TOOL}"

        # Build and test iOS Demo App
        PYTHON_EXECUTABLE=python ${CONDA_RUN} --no-capture-output \
        build/test_ios_ci.sh

        popd

  build-frameworks-ios:
    name: build-frameworks-ios
    uses: pytorch/test-infra/.github/workflows/macos_job.yml@main
    with:
      runner: macos-latest-xlarge
      python-version: '3.11'
      submodules: 'true'
      ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
      upload-artifact: executorch-frameworks-ios
      timeout: 90
      script: |
        WORKSPACE=$(pwd)
        pushd "${WORKSPACE}/pytorch/executorch"
        BUILD_TOOL=cmake
        VERSION="0.1.0"
        OUTPUT="executorch-${VERSION}"

        .ci/scripts/setup-conda.sh

        # Setup MacOS dependencies as there is no Docker support on MacOS atm
        GITHUB_RUNNER=1 PYTHON_EXECUTABLE=python ${CONDA_RUN} --no-capture-output \
        .ci/scripts/setup-macos.sh "${BUILD_TOOL}"

        # Install CoreML Backend Requirements
        PYTHON_EXECUTABLE=python ${CONDA_RUN} --no-capture-output \
        backends/apple/coreml/scripts/install_requirements.sh

        # Install MPS Backend Requirements
        PYTHON_EXECUTABLE=python ${CONDA_RUN} --no-capture-output \
        backends/apple/mps/install_requirements.sh

        # Build iOS Frameworks
        PYTHON_EXECUTABLE=python ${CONDA_RUN} --no-capture-output \
        build/build_apple_frameworks.sh --output="${OUTPUT}" --coreml --mps --portable --xnnpack

        # Bundle iOS Frameworks
        cp LICENSE "${OUTPUT}"
        zip -r "${RUNNER_TEMP}/artifacts/${OUTPUT}.zip" "${OUTPUT}"

        popd

  upload-frameworks-ios:
    runs-on: ubuntu-22.04
    needs: build-frameworks-ios
    timeout-minutes: 30
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_executorch_upload-frameworks-ios
          aws-region: us-east-1
      - name: Download the artifact
        uses: actions/download-artifact@v3
        with:
          # NB: The name here needs to match the upload-artifact name from build-frameworks-ios job
          name: executorch-frameworks-ios
          path: ${{ runner.temp }}/frameworks-ios/
      - run: make deploy
