name: Export LLaVA Model

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'

jobs:
  export-llava-model:
    name: export-llava-model
    runs-on: ubuntu-latest
    timeout-minutes: 120
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Checkout executorch
        uses: actions/checkout@v4
        with:
          repository: pytorch/executorch
          submodules: recursive

      - name: Install executorch
        run: |
          ./install_executorch.sh
          ./examples/models/llava/install_requirements.sh
          pip install accelerate

      - name: Export LLaVA model to PTE
        run: |
          python -m executorch.examples.models.llava.export_llava \
            --pte-name llava.pte \
            --with-artifacts \
            --max-context-len=768

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: llava-pte
          path: |
            llava.pte
            tokenizer.bin

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_executorch_upload-frameworks-android
          aws-region: us-east-1

      - name: Upload to S3
        run: |
          pip install awscli==1.32.18

          shasum -a 256 llava.pte > llava.pte.sha256sums
          shasum -a 256 tokenizer.bin > tokenizer.bin.sha256sums

          VERSION="snapshot-$(date +"%Y%m%d")"

          aws s3 cp llava.pte s3://ossci-android/executorch/llava/${VERSION}/llava.pte --acl public-read
          aws s3 cp llava.pte.sha256sums s3://ossci-android/executorch/llava/${VERSION}/llava.pte.sha256sums --acl public-read
          aws s3 cp tokenizer.bin s3://ossci-android/executorch/llava/${VERSION}/tokenizer.bin --acl public-read
          aws s3 cp tokenizer.bin.sha256sums s3://ossci-android/executorch/llava/${VERSION}/tokenizer.bin.sha256sums --acl public-read
