name: Propose to merge ghstack orig PRs to main
on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - 'gh/*/[0-9]+/base'
      - 'kirklandsigntest/*'
jobs:
  ghstack_merge_to_main:
    name: ghstack-land
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Try to merge PR to main
      run: |
        pip install pygithub

        PR_NUMBER=$(echo "$GITHUB_REF" | grep -oE '[0-9]+')

        python .github/scripts/propose_ghstack_orig_pr.py --pr $PR_NUMBER --repo pytorch/executorch
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_REF: ${{ github.ref }}
